<link href="/stylee.css" rel="stylesheet" type="text/css">


<center><p><img src="http://surflocal.net/sm_banner_MKTG.jpg"><br>
<font size=+1>Choose a Design Layout For Your Ad</font></font></font>

<table BORDER=2 COLS=2 WIDTH="900" CELLSPACING=5 CELLPADDING=5 BACKGROUND=http://www.surflocal.net/images/white_table.jpg >
<tr>
<td valign=top>
<center>
<p><input type="radio" name="Template" value="3"><font size=+1>Design
Layout 1 (Existing Artwork)<br><font size=-1>Your Current Coupon, Brochure or Flyer Ad</font></font></font>


<table BORDER=0 WIDTH="350">
<tr>
<td>
<center>

<img SRC="http://www.surflocal.net/images/couponex-existing.jpg" >
</center>
</td>
</tr>
</table></center>

</td>


<p><!--~~~~~~~~  END COUPON   ~~~~~~~~~~ -->

<td valign=top><center>
<p><input type="radio" name="Template" value="2"><font size=+1>Design
Layout 2 (Incentive AD) <br><font size=-1>Design a fully updatable ad with text & branding</font></font></font>

<table BORDER=0 WIDTH="350">
<tr>
<td>
<center>

<img SRC="http://www.surflocal.net/images/couponex-incentive.jpg" alt="Incentive Ad" >
</center>
</td>
</tr>
</table></center>


</td>


<p><!--~~~~~~~~  END COUPON   ~~~~~~~~~~ -->

<TR>



<td valign=top>
<center>
<input type="radio" name="Template" value="1"><font size=+1>Design
Layout 3 (Gift Certificate)<br><font size=-1>Design a fully updatable Gift Certificate with text & branding </font></font></font>

<center><table BORDER=0 WIDTH="350">
<tr>
<td>
<center>

<img SRC="http://www.surflocal.net/images/couponex-gift.jpg" >
</td>
</tr>
</table></center>

</td>


<p><!--~~~~~~~~  END COUPON   ~~~~~~~~~~ -->

<TD VALIGN=TOP>
<center>
<p><input type="radio" name="Template" value="4"><font size=+1>Design
Layout 4 (Embed Code)
<br><font size=-1>For Video and "Buy Now" Shopping Coupons.

<center><table BORDER=0 WIDTH="350">
<tr>
<td>
<center>

<img SRC="http://www.surflocal.net/images/couponex-video.jpg" >

</td>
</tr>
</table></center>


<TR>
<td VALIGN=TOP WIDTH="33%">

<center>

<p><input type="radio" name="Template" value="6"><font size=+1>Design
Layout 5 (Embed Code)
<br><font size=-1>For Video & "Buy Now" Combo Shopping Coupons

<center><table BORDER=0 WIDTH="350">
<tr>
<td>
<center>

<img SRC="http://www.surflocal.net/images/couponex-shop.jpg" >

</td>
</tr>
</table></center>

<td VALIGN=TOP WIDTH="33%">

<center>

<p><input type="radio" name="Template" value="5"><font size=+1>Design
Layout 6 (Embed Code)
<br><font size=-1>For Video & "Buy Now" Combo (w/Branding)

<center><table BORDER=0 WIDTH="350">
<tr>
<td>
<center>

<img SRC="http://www.surflocal.net/images/couponex-shop2.jpg" >

</td>
</tr>
</table>

<tr>
<td VALIGN=TOP WIDTH="33%">

<center>

<p><input type="radio" name="Template" value="7"><font size=+1>Design
Layout 7 (Generic Gift Certificate/Coupon Ad)
<br><font size=-1>Simple Gift Certificate or Coupon

<center><table BORDER=0 WIDTH="350">
<tr>
<td>
<center>

<img SRC="http://www.surflocal.net/images/couponex-7.jpg" >

</td>
</tr>
</table>


</td>

</tr>
</table>


<br><br><input type=submit value="Continue"><input type="reset" value="Reset"></form></center>

<p><!--~~~~~~~~  END COUPON   ~~~~~~~~~~ -->





</body>
</html>
