
<script language="JavaScript">
<!--

// Copyright 2001 by www.CodeBelly.com
// Please do *not* remove this notice.

var backImage = new Array(); // don't change this

// Enter the image filenames you wish to use.
// Follow the pattern to use more images.  The
// number in the brackets [] is the number you
// will use in the function call to pick each
// image.

// Note how backImage[3] = "" -- which would
// set the page to *no* background image.

backImage[0] = "../../images/backs/blue/dblue032.jpg";
backImage[1] = "../../images/backs/blue/dblue025.jpg";
backImage[2] = "../../images/backs/blue/dblue011.jpg";
backImage[3] = "../../images/backs/blue/dblue109.jpg";
backImage[4] = "../../images/backs/blue/dblue094.jpg";
backImage[5] = "../../images/backs/blue/dblue078.jpg";
backImage[6] = "../../images/backs/blue/dblue063.gif";
backImage[7] = "../../images/backs/blue/dblue033.gif";
backImage[8] = "../../images/backs/blue/dblue037.jpg";
backImage[9] = "../../images/backs/blue/dblue041.jpg";
backImage[10] = "../../images/backs/blue/dblue047.jpg";
backImage[11] = "../../images/backs/blue/dblue029.jpg";
backImage[12] = "../../images/backs/blue/dblue009.jpg";
backImage[13] = "../../images/backs/blue/dblue016.jpg";
backImage[14] = "../../images/backs/green/multi243.jpg";
backImage[15] = "../../images/backs/green/green106.jpg";
backImage[16] = "../../images/backs/green/green074.jpg";
backImage[17] = "../../images/backs/green/green023.jpg";
backImage[18] = "../../images/backs/green/green029.jpg";
backImage[19] = "../../images/backs/green/dgren074.jpg";
backImage[20] = "../../images/backs/green/dgren078.gif";
backImage[21] = "../../images/backs/green/dgren019.jpg";
backImage[22] = "../../images/backs/green/dgren028.jpg";
backImage[23] = "../../images/backs/green/dgren002.jpg";
backImage[24] = "../../images/backs/green/dgren004.jpg";
backImage[25] = "../../images/backs/green/green032.gif";
backImage[26] = "../../images/backs/green/green076.jpg";
backImage[27] = "../../images/backs/green/green089.jpg";
backImage[28] = "../../images/backs/red/red013.jpg";
backImage[29] = "../../images/backs/red/red025.jpg";
backImage[30] = "../../images/backs/red/red044.jpg";
backImage[31] = "../../images/backs/red/red047.jpg";
backImage[32] = "../../images/backs/red/red075.gif";
backImage[33] = "../../images/backs/red/red079.gif";
backImage[34] = "../../images/backs/red/red085.gif";
backImage[35] = "../../images/backs/red/red101.jpg";
backImage[36] = "../../images/backs/red/red130.jpg";
backImage[37] = "../../images/backs/red/red141.jpg";
backImage[38] = "../../images/backs/red/red183.gif";
backImage[39] = "../../images/backs/red/red029.jpg";
backImage[40] = "../../images/backs/red/red111.jpg";
backImage[41] = "../../images/backs/red/red076.gif";
backImage[42] = "../../images/backs/brown/brown001.gif";
backImage[43] = "../../images/backs/brown/brown017.jpg";
backImage[44] = "../../images/backs/brown/brown029.jpg";
backImage[45] = "../../images/backs/brown/brown032.jpg";
backImage[46] = "../../images/backs/brown/brown053.jpg";
backImage[47] = "../../images/backs/brown/brown062.jpg";
backImage[48] = "../../images/backs/brown/brown069.jpg";
backImage[49] = "../../images/backs/brown/brown075.jpg";
backImage[50] = "../../images/backs/brown/brown077.jpg";
backImage[51] = "../../images/backs/brown/brown089.gif";
backImage[52] = "../../images/backs/brown/brown143.jpg";
backImage[53] = "../../images/backs/brown/brown119.jpg";
backImage[54] = "../../images/backs/brown/brown136.jpg";
backImage[55] = "../../images/backs/brown/brown139.jpg";
backImage[56] = "../../images/backs/purple/purpl002.jpg";
backImage[57] = "../../images/backs/purple/purpl020.jpg";
backImage[58] = "../../images/backs/purple/purpl096.jpg";
backImage[59] = "../../images/backs/purple/purpl100.jpg";
backImage[60] = "../../images/backs/purple/purpl120.jpg";
backImage[61] = "../../images/backs/purple/purpl140.jpg";
backImage[62] = "../../images/backs/purple/purpl145.jpg";



// Do not edit below this line.
//-----------------------------

function changeBGImage(whichImage){
if (document.body){
document.body.background = backImage[whichImage];
}
}

//-->
</script>
<link href="/stylee.css" rel="stylesheet" type="text/css" />
<center>
<center>
<table border=0 width=800><tr><td BACKGROUND="https://www.surflocal.net/images/white_table.jpg">
<center><img src="/sm_banner_MKTG.jpg">
<BR><font color="000000"><font size=+1><b>DESIGN: Select (1) Background, (2) Text Style and (3) Text Color </b>

<!-- Form action and hiddens -->

<form METHOD="POST" ACTION="Page.cgi">
<input TYPE="hidden" VALUE="WritePageOptions" NAME="action">
<!-- end form action and hiddens -->







<!-- start edit backgrounds -->



<p>

<!-- begin area for background images -->



<p>

<!-- begin area for background images -->

<center><table BORDER WIDTH="90%" BGCOLOR="#FFFFFF" BACKGROUND="https://www.surflocal.net/images/white_table.jpg" NOSAVE class="table" >
<tr><td>
<center><table BORDER WIDTH="90%" BGCOLOR="#FFFFFF" BACKGROUND="https://www.surflocal.net/images/white_table.jpg" NOSAVE class="table" >

<caption><a NAME="solid"></a><b><font color="000000"><font size=+1>Solid

Backgrounds</font></font></caption>




<tr>

<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/4_1-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/4_1-sample.jpg" NOSAVE height=36 width=36></center>

</td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/4_2-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/4_2-sample.jpg" NOSAVE height=36 width=36></center>

</td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/4_3-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/4_3-sample.jpg" NOSAVE height=36 width=36></center>

</td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/4_4-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/4_4-sample.jpg" NOSAVE height=36 width=36></center>

</td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/4_5-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/4_5-sample.jpg" NOSAVE height=36 width=36></center>

</td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/4_6-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/4_6-sample.jpg" NOSAVE height=36 width=36></center>

</td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/4_7-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/4_7-sample.jpg" NOSAVE height=36 width=36></center>

</td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/4_8-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/4_8-sample.jpg" NOSAVE height=36 width=36></center>

</td>

</tr>







<tr>

<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/5_1-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/5_1-sample.jpg" NOSAVE height=36 width=36></center>

</td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/5_2-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/5_2-sample.jpg" NOSAVE height=36 width=36></center>

</td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/5_3-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/5_3-sample.jpg" NOSAVE height=36 width=36></center>

</td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/5_4-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/5_4-sample.jpg" NOSAVE height=36 width=36></center>

</td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/5_5-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/5_5-sample.jpg" NOSAVE height=36 width=36></center>

</td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/5_6-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/5_6-sample.jpg" NOSAVE height=36 width=36></center>

</td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/5_7-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/5_7-sample.jpg" NOSAVE height=36 width=36></center>

</td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/5_8-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/5_8-sample.jpg" NOSAVE height=36 width=36></center>

</td>







<tr>

<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/6_2-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/6_2-sample.jpg" NOSAVE height=36 width=36></center>

</td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/6_3-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/6_3-sample.jpg" NOSAVE height=36 width=36></center>

</td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/6_4-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/6_4-sample.jpg" NOSAVE height=36 width=36></center>

</td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/6_5-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/6_5-sample.jpg" NOSAVE height=36 width=36></center>

</td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/6_6-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/6_6-sample.jpg" NOSAVE height=36 width=36></center>

</td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/6_7-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/6_7-sample.jpg" NOSAVE height=36 width=36></center>

</td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/0_0-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/0_0-sample.jpg" NOSAVE height=36 width=36></center>

</td>



<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/f_f-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/f_f-sample.jpg" NOSAVE height=36 width=36></center>  </td>





<tr>





<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/1metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/1metalic-sample.jpg" NOSAVE height=36 width=36></td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/2metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/2metalic-sample.jpg" NOSAVE height=36 width=36></td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/3metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/3metalic-sample.jpg" NOSAVE height=36 width=36></td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/4metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/4metalic-sample.jpg" NOSAVE height=40 width=40></td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/5metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/5metalic-sample.jpg" NOSAVE height=36 width=36></td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/6metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/6metalic-sample.jpg" NOSAVE height=36 width=36></td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/7metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/7metalic-sample.jpg" NOSAVE height=36 width=36></td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/8metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/8metalic-sample.jpg" NOSAVE height=36 width=36></td>

</tr>



<tr>





<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/9metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/9metalic-sample.jpg" NOSAVE height=36 width=36></td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/10metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/10metalic-sample.jpg" NOSAVE height=36 width=36></td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/11metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/11metalic-sample.jpg" NOSAVE height=36 width=36></td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/12metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/12metalic-sample.jpg" NOSAVE height=36 width=36></td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/13metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/13metalic-sample.jpg" NOSAVE height=36 width=36></td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/14metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/14metalic-sample.jpg" NOSAVE height=36 width=36></td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/16metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/16metalic-sample.jpg" NOSAVE height=36 width=36></td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/15metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/15metalic-sample.jpg" NOSAVE height=36 width=36></td>

</tr>



<tr>





<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/17metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/17metalic-sample.jpg" NOSAVE height=36 width=36></td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/18metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/18metalic-sample.jpg" NOSAVE height=36 width=36></td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/19metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/19metalic-sample.jpg" NOSAVE height=36 width=36></td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/20metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/20metalic-sample.jpg" NOSAVE height=36 width=36></td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/21metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/21metalic-sample.jpg" NOSAVE height=36 width=36></td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/22metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/22metalic-sample.jpg" NOSAVE height=36 width=36></td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/23metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/23metalic-sample.jpg" NOSAVE height=36 width=36></td>







<td ALIGN=CENTER>

<center><input TYPE="radio" VALUE="../../images/23metalic-sample.jpg" NAME="BackgroundImage"><img SRC="https://www.surflocal.net/images/23metalic-sample.jpg" NOSAVE height=36 width=36></td>

</tr>

</table></center>







<p>

<center><table BORDER COLS=7 WIDTH="90%" BGCOLOR="#FFFFFF" BACKGROUND="https://www.surflocal.net/images/white_table.jpg" NOSAVE >

<caption><a NAME="marble"></a><font color="000000"><font size=+1><b>Blue

Backgrounds</font></font></caption>



<tr>

<td><input TYPE="radio" VALUE="../../images/backs/blue/dblue032.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/blue/dblue032.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(0)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/blue/dblue025.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/blue/dblue025.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(1)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/blue/dblue011.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/blue/dblue011.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(2)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/blue/dblue109.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/blue/dblue109.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(3)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/blue/dblue094.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/blue/dblue094.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(4)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/blue/dblue078.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/blue/dblue078.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(5)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/blue/dblue063.gif" NAME="BackgroundImage">

<br><img SRC="../../images/backs/blue/dblue063.gif" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(6)">View</a></td>

</tr>



<tr>

<td><input TYPE="radio" VALUE="../../images/backs/blue/dblue033.gif" NAME="BackgroundImage">

<br><img SRC="../../images/backs/blue/dblue033.gif" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(7)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/blue/dblue037.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/blue/dblue037.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(8)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/blue/dblue041.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/blue/dblue041.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(9)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/blue/dblue047.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/blue/dblue047.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(10)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/blue/dblue029.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/blue/dblue029.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(11)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/blue/dblue009.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/blue/dblue009.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(12)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/blue/dblue016.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/blue/dblue016.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(13)">View</a></td>

</tr>



</table></center>







<p><a NAME="fade"></a>

<center><table BORDER COLS=7 WIDTH="90%" BGCOLOR="#FFFFFF" BACKGROUND="https://www.surflocal.net/images/white_table.jpg" NOSAVE >

<caption><font color="000000"><font size=+1><b>Green

Backgrounds</font></font></caption>



<tr>

<td><input TYPE="radio" VALUE="../../images/backs/green/multi243.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/green/multi243.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(14)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/green/green106.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/green/green106.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(15)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/green/green074.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/green/green074.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(16)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/green/green023.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/green/green023.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(17)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/green/green029.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/green/green029.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(18)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/green/dgren074.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/green/dgren074.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(19)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/green/dgren078.gif" NAME="BackgroundImage">

<br><img SRC="../../images/backs/green/dgren078.gif" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(20)">View</a></td>

</tr>



<tr>

<td><input TYPE="radio" VALUE="../../images/backs/green/dgren019.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/green/dgren019.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(21)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/green/dgren028.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/green/dgren028.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(22)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/green/dgren002.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/green/dgren002.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(23)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/green/dgren004.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/green/dgren004.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(24)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/green/green032.gif" NAME="BackgroundImage">

<br><img SRC="../../images/backs/green/green032.gif" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(25)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/green/green076.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/green/green076.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(26)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/green/green089.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/green/green089.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(27)">View</a></td>

</tr>





</table></center>





<p>

<center><table BORDER COLS=7 WIDTH="90%" BGCOLOR="#FFFFFF" BACKGROUND="https://www.surflocal.net/images/white_table.jpg" NOSAVE >

<caption><a NAME="marble"></a><font color="000000"><font size=+1><b>Red

Backgrounds</font></font></caption>



<tr>

<td><input TYPE="radio" VALUE="../../images/backs/red/red013.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/red/red013.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(28)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/red/red025.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/red/red025.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(29)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/red/red044.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/red/red044.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(30)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/red/red047.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/red/red047.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(31)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/red/red075.gif" NAME="BackgroundImage">

<br><img SRC="../../images/backs/red/red075.gif" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(32)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/red/red079.gif" NAME="BackgroundImage">

<br><img SRC="../../images/backs/red/red079.gif" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(33)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/red/red085.gif" NAME="BackgroundImage">

<br><img SRC="../../images/backs/red/red085.gif" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(34)">View</a></td>

</tr>



<tr>

<td><input TYPE="radio" VALUE="../../images/backs/red/red101.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/red/red101.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(35)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/red/red130.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/red/red130.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(36)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/red/red141.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/red/red141.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(37)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/red/red183.gif" NAME="BackgroundImage">

<br><img SRC="../../images/backs/red/red183.gif" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(38)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/red/red029.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/red/red029.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(39)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/red/red111.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/red/red111.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(40)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/red/red076.gif" NAME="BackgroundImage">

<br><img SRC="../../images/backs/red/red076.gif" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(41)">View</a></td>

</tr>



</table></center>







<p>

<center><table BORDER COLS=7 WIDTH="90%" BGCOLOR="#FFFFFF" BACKGROUND="https://www.surflocal.net/images/white_table.jpg" NOSAVE >

<caption><font color="000000"><font size=+1><b>Brown

Backgrounds</font></font></caption>



<tr>

<td><input TYPE="radio" VALUE="../../images/backs/brown/brown001.gif" NAME="BackgroundImage">

<br><img SRC="../../images/backs/brown/brown001.gif" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(42)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/brown/brown017.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/brown/brown017.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(43)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/brown/brown029.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/brown/brown029.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(44)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/brown/brown032.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/brown/brown032.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(45)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/brown/brown053.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/brown/brown053.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(46)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/brown/brown062.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/brown/brown062.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(47)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/brown/brown069.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/brown/brown069.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(48)">View</a></td>

</tr>



<tr>

<td><input TYPE="radio" VALUE="../../images/backs/brown/brown075.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/brown/brown075.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(49)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/brown/brown077.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/brown/brown077.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(50)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/brown/brown089.gif" NAME="BackgroundImage">

<br><img SRC="../../images/backs/brown/brown089.gif" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(51)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/brown/brown143.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/brown/brown143.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(52)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/brown/brown119.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/brown/brown119.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(53)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/brown/brown136.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/brown/brown136.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(54)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/brown/brown139.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/brown/brown139.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(55)">View</a></td>

</tr>





</table></center>

<p>

<center><table BORDER COLS=7 WIDTH="90%" BGCOLOR="#FFFFFF" BACKGROUND="https://www.surflocal.net/images/white_table.jpg" NOSAVE >

<caption><font color="000000"><font size=+1><b>Purple

Backgrounds</font></font></caption>



<tr>

<td><input TYPE="radio" VALUE="../../images/backs/purple/purpl002.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/purple/purpl002.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(56)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/purple/purpl020.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/purple/purpl020.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(57)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/purple/purpl096.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/purple/purpl096.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(58)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/purple/purpl100.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/purple/purpl100.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(59)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/purple/purpl100.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/purple/purpl100.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(60)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/purple/purpl140.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/purple/purpl140.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(61)">View</a></td>



<td><input TYPE="radio" VALUE="../../images/backs/purple/purpl145.jpg" NAME="BackgroundImage">

<br><img SRC="../../images/backs/purple/purpl145.jpg" NOSAVE height=75 width=75><br><a href="#" onMouseOver="javascript:changeBGImage(62)">View</a></td>

</tr>




</table></center>



<center>

<p><!--End Background image stuff-->



<center>
<p><!--End Background image stuff-->
<p><!-- begin choosing font --></center>

<center><table BORDER COLS=4 WIDTH="90%" BGCOLOR="#FFFFFF" BACKGROUND="https://www.surflocal.net/images/white_table.jpg">
<caption>&nbsp;
<br><font color=000000><font size=+1><b>Choose Your Text Style</b></font></font>
</caption>
<tr>
<td>
<center><input TYPE="radio" VALUE="Aldine721 BT" Name="font">
<br><font face="Aldine721 BT"><font size=+1>Aldine</font></font></center>
</td>


<td>
<center><input TYPE="radio" VALUE="Arial" Name="font">
<br><font face="Arial"><font size=+1>Arial</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Arial Black" Name="font">
<br><font face="Arial Black"><font size=+1>Arial Black</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Arial Narrow" Name="font">
<br><font face="Arial Narrow"><font size=+1>Arial Narrow</font></font></center>
</td>

<tr>
<td>
<center><input TYPE="radio" VALUE="Book Antiqua" Name="font">
<br><font face="Book Antiqua"><font size=+1>Book Antiqua</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Century Gothic" Name="font">
<br><font face="Century Gothic"><font size=+1>Century Gothic</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Comic Sans MS" Name="font">
<br><font face="Comic Sans MS"><font size=+1>Comic Sans</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Constantia" Name="font">
<br><font face="Constantia"><font size=+1>Constantia</font></font></center>
</td>

<tr>
<td>
<center><input TYPE="radio" VALUE="Constantia Bold" Name="font">
<br><font face="Constantia Bold"><font size=+1>Constantia Bold</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Copperplate Gothic Bold" Name="font">
<br><font face="Copperplate Gothic Bold"><font size=+1>Copperplate Gothic</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Courier New, Courier" Name="font">
<br><font face="Courier New,Courier"><font size=+1>Courier New</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Courier New Bold, Courier Bold" Name="font">
<br><font face="Courier New Bold, Courier Bold"><font size=+1>Courier Bold</font></font></center>
</td>

<tr>
<td>
<center><input TYPE="radio" VALUE="Estrangelo Edessa" Name="font">
<br><font face="Estrangelo Edessa"><font size=+1>Estrangelo Edessa</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Georgia" Name="font">
<br><font face="Georgia"><font size=+1>Georgia</font></font></center>
</td>


<td>
<center><input TYPE="radio" VALUE="Impact" Name="font">
<br><font face="Impact"><font size=+1>Impact</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Lithos Pro" Name="font">
<br><font face="Lithos Pro"><font size=+1>Lithos Pro</font></font></center>
</td>

<tr>
<td>
<center><input TYPE="radio" VALUE="Lithos Pro Bold" Name="font">
<br><font face="Lithos Pro Bold"><font size=+1>Lithos Pro Bold</font></font></center>
</td>


<td>
<center><input TYPE="radio" VALUE="Lucida Console" Name="font">
<br><font face="Lucida Console"><font size=+1>Lucida Console</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Lucida Handwriting" Name="font">
<br><font face="Lucida Handwriting"><font size=+1>Lucida Handwriting</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Park Avenue BT" Name="font">
<br><font face="Park Avenue BT"><font size=+1>Park Avenue BT</font></font></center>
</td>

<tr>
<td>
<center><input TYPE="radio" VALUE="Palatino Linotype" Name="font">
<br><font face="Palatino Linotype"><font size=+1>Palatino Linotype</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Palatino Linotype Bold" Name="font">
<br><font face="Palatino Linotype Bold"><font size=+1>Palatino Linotype Bold</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Segoe Script" Name="font">
<br><b><font face="Segoe Script"><font size=+1>Segoe Script</font></font></b></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Tahoma" Name="font">
<br><font face="Tahoma"><font size=+1>Tahoma</font></font></center>
</td>

<tr>
<td>
<center><input TYPE="radio" VALUE="Tempus Sans ITC" Name="font">
<br><b><font face="Tempus Sans ITC"><font size=+1>Tempus Sans ITC</font></font></b></center>
</td>


<td>
<center><input TYPE="radio" VALUE="Tempus Sans ITC Bold" Name="font">
<br><b><font face="Tempus Sans ITC Bold"><font size=+1>Tempus Sans ITC Bold</font></font></b></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Times New Roman" Name="font">
<br><font face="Times New Roman"><font size=+1>Times New Roman</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Times New Roman Bold " Name="font">
<br><font face="Times New Roman Bold "><font size=+1>Times New Roman Bold </font></font></center>
</td>

<tr>
<td>
<center><input TYPE="radio" VALUE="Trebuchet MS" Name="font">
<br><b><font face="Trebuchet MS Bold"><font size=+1>Trebuchet MS Bold</font></font></b></center>
</td>


<td>
<center><input TYPE="radio" VALUE="Veranda" Name="font">
<br><font face="Verdana"><font size=+1>Veranda</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="font face=Westminster" Name="font">
<br><font face="Westminster"><font size=+1>Westminster</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="font face=Webdings" Name="font">
<br><font face="Webdings"><font size=+1>Webdings</font></font><br>
Webdings</center>
</td>

</tr>
</table></center>

<center><!-- Choose text color --></center>

<center><table BORDER WIDTH="84%" class="table" >
<caption>&nbsp;
<br><b><font color=000000><font size=+1>Choose the Text Color</font></font></b>
<br><font color=000000><font size=-1>REMEMBER:&nbsp; Choose a text color
that coordinates with the background you chose above.</font></font>
<br>&nbsp;
<center><table BORDER COLS=12 WIDTH="80%" BGCOLOR="#FFFFFF" BACKGROUND="https://www.surflocal.net/images/white_table.jpg">

<tr>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#404040"></td>
<td BGCOLOR="#404040">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#4C4E5D"></td>
<td BGCOLOR="#4C4E5D">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#62453D"></td>
<td BGCOLOR="#62453D">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#330000"></td>
<td BGCOLOR="#330000">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#834840"></td>
<td BGCOLOR="#834840">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#684E51"></td>
<td BGCOLOR="#684E51">&nbsp;</td>


</tr>


<tr>


<td WIDTH="1%"><input type="radio" name="FontColor" value="#0E7A96"></td>
<td BGCOLOR="#0E7A96">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#145B6F"></td>
<td BGCOLOR="#145B6F">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#004593"></td>
<td BGCOLOR="#004593">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#135D8A"></td>
<td BGCOLOR="#135D8A">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#000080"></td>
<td BGCOLOR="#000080">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#06085A"></td>
<td BGCOLOR="#06085A">&nbsp;</td>
</tr>

<tr>


<td WIDTH="1%"><input type="radio" name="FontColor" value="#9D324C"></td>
<td BGCOLOR="#9D324C">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#742638"></td>
<td BGCOLOR="#742638">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#9A0000"></td>
<td BGCOLOR="#9A0000">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#6D0B0B"></td>
<td BGCOLOR="#6D0B0B">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#800080"></td>
<td BGCOLOR="#800080">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#400040"></td>
<td BGCOLOR="#400040">&nbsp;</td>

</tr>

<tr>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#607458"></td>
<td BGCOLOR="#607458">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#006666"></td>
<td BGCOLOR="#006666">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#004000"></td>
<td BGCOLOR="#004000">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#0E3F39"></td>
<td BGCOLOR="#0E3F39">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#000000"></td>
<td BGCOLOR="#000000">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#ffffff"></td>
<td BGCOLOR="#ffffff">&nbsp;</td>


</tr>
</table></center>


<center>
<p><input TYPE="submit" VALUE="Begin editing page" ><input TYPE="submit" VALUE="Clear this form and start over" >
<br></form></center>
</caption>

<tr>
<td></td>
</tr>
</table></center>

</body>
</html>
