
<link href="/stylee.css" rel="stylesheet" type="text/css" />

<center>
<img SRC="http://surflocal.net/sm_banner_MKTG3.gif" NOSAVE ><br>

<font size=+2><img src="/images/design.jpg">  Custom Design Your Pages</font></font>

<!-- Form action and hiddens -->
<form METHOD="POST" ACTION="Page.cgi">
<input TYPE="hidden" VALUE="WritePageOptions" NAME="action">
<!-- end form action and hiddens -->

<center><font size=-1><b>Choose One Background for your Website</font></center>

<center><table BORDER=1 COLS=2 WIDTH="90%" BGCOLOR="#FFFFFF" BACKGROUND="http://www.surflocal.net/images/white_table.jpg" >
<tr>
<td VALIGN=TOP>

<center><table BORDER=1 WIDTH="50%" >
<tr>
<td WIDTH="6%"><input TYPE="radio" VALUE="../../images/blue1.jpg" NAME="BackgroundImage"></td>

<td VALIGN=TOP WIDTH="94%"><img SRC="http://www.surflocal.net/images/blue1-th.jpg" NOSAVE height=39 width=100></td>

<td><input TYPE="radio" Value="../../images/celery.jpg" NAME="BackgroundImage"></td>

<td><img SRC="http://www.surflocal.net/images/celery1-th.jpg" NOSAVE height=39 width=100></td>

<td></td>
</tr>

<tr>
<td WIDTH="6%"><input TYPE="radio" Value="../../images/golden-1.jpg" NAME="BackgroundImage"></td>

<td VALIGN=TOP WIDTH="94%"><img SRC="http://www.surflocal.net/images/golden1-th.jpg" NOSAVE height=39 width=100></td>

<td><input TYPE="radio" Value="../../images/green-1.jpg" NAME="BackgroundImage"></td>

<td><img SRC="http://www.surflocal.net/images/green1-th.jpg" NOSAVE height=39 width=100></td>
</tr>

<tr>
<td WIDTH="6%"><input TYPE="radio" Value="../../images/grey1.jpg" NAME="BackgroundImage"></td>

<td VALIGN=TOP WIDTH="94%"><img SRC="http://www.surflocal.net/images/grey1-th.jpg" NOSAVE height=39 width=100></td>

<td><input TYPE="radio" Value="../../images/lilac1.jpg" NAME="BackgroundImage"></td>

<td><img SRC="http://www.surflocal.net/images/lilac1-th.jpg" NOSAVE height=39 width=100></td>
</tr>

<tr>
<td WIDTH="6%"><input TYPE="radio" Value="../../images/ltblue1.jpg" NAME="BackgroundImage"></td>

<td VALIGN=TOP WIDTH="94%"><img SRC="http://www.surflocal.net/images/ltblue1-th.jpg" NOSAVE height=39 width=100></td>

<td><input TYPE="radio" Value="../../images/magenta-1.jpg" NAME="BackgroundImage"></td>

<td><img SRC="http://www.surflocal.net/images/magenta1-th.jpg" NOSAVE height=39 width=100></td>
</tr>

<tr>
<td WIDTH="6%"><input TYPE="radio" Value="../../images/orange1.jpg" NAME="BackgroundImage"></td>

<td VALIGN=TOP WIDTH="94%"><img SRC="http://www.surflocal.net/images/orange1-th.jpg" NOSAVE height=39 width=100></td>

<td><input TYPE="radio" Value="../../images/orchid1.jpg" NAME="BackgroundImage"></td>

<td><img SRC="http://www.surflocal.net/images/orchid1-th.jpg" NOSAVE height=39 width=100></td>
</tr>

<tr>
<td WIDTH="6%"><input TYPE="radio" Value="../../images/pink1.jpg" NAME="BackgroundImage"></td>

<td VALIGN=TOP WIDTH="94%"><img SRC="http://www.surflocal.net/images/pink1-th.jpg" NOSAVE height=39 width=100></td>

<td><input TYPE="radio" Value="../../images/red1.jpg" NAME="BackgroundImage"></td>

<td><img SRC="http://www.surflocal.net/images/red1-th.jpg" NOSAVE height=39 width=100></td>
</tr>

<tr>
<td WIDTH="6%"><input TYPE="radio" Value="../../images/tan1.jpg" NAME="BackgroundImage"></td>

<td VALIGN=TOP WIDTH="94%"><img SRC="http://www.surflocal.net/images/tan1-th.jpg" NOSAVE height=39 width=100></td>

<td><input TYPE="radio" Value="../../images/yellow1.jpg" NAME="BackgroundImage"></td>

<td><img SRC="http://www.surflocal.net/images/yellow1-th.jpg" NOSAVE height=39 width=100></td>
</tr>

<tr>
<td></td>
</tr>
</table></center>
</td>

<td VALIGN=TOP>
<center><table BORDER=1 WIDTH="50%" >
<tr>
<td WIDTH="6%"><input TYPE="radio" Value="../../images/bl-royal.jpg" NAME="BackgroundImage"></td>

<td VALIGN=TOP WIDTH="94%"><img SRC="http://www.surflocal.net/images/bl-royal-th.jpg" NOSAVE height=39 width=100></td>

<td><input TYPE="radio" Value="../../images/black.jpg" NAME="BackgroundImage"></td>

<td><img SRC="http://www.surflocal.net/images/black-th.jpg" NOSAVE height=39 width=100></td>
</tr>

<tr>
<td WIDTH="6%"><input TYPE="radio" Value="../../images/blue.jpg" NAME="BackgroundImage"></td>

<td VALIGN=TOP WIDTH="94%"><img SRC="http://www.surflocal.net/images/blue-th.jpg" NOSAVE height=39 width=100></td>

<td><input TYPE="radio" Value="../../images/fushia.jpg" NAME="BackgroundImage"></td>

<td><img SRC="http://www.surflocal.net/images/fushia-th.jpg" NOSAVE height=39 width=100></td>
</tr>

<tr>
<td WIDTH="6%"><input TYPE="radio" Value="../../images/gold.jpg" NAME="BackgroundImage"></td>

<td VALIGN=TOP WIDTH="94%"><img SRC="http://www.surflocal.net/images/gold-th.jpg" NOSAVE height=39 width=100></td>

<td><input TYPE="radio" Value="../../images/green.jpg" NAME="BackgroundImage"></td>

<td><img SRC="http://www.surflocal.net/images/green-th.jpg" NOSAVE height=39 width=100></td>
</tr>

<tr>
<td WIDTH="6%"><input TYPE="radio" Value="../../images/lilac.jpg" NAME="BackgroundImage"></td>

<td VALIGN=TOP WIDTH="94%"><img SRC="http://www.surflocal.net/images/lilac-th.jpg" NOSAVE height=39 width=100></td>

<td><input TYPE="radio" Value="../../images/orange.jpg" NAME="BackgroundImage"></td>

<td><img SRC="http://www.surflocal.net/images/orange-th.jpg" NOSAVE height=39 width=100></td>
</tr>

<tr>
<td WIDTH="6%"><input TYPE="radio" Value="../../images/purple.jpg" NAME="BackgroundImage"></td>

<td VALIGN=TOP WIDTH="94%"><img SRC="http://www.surflocal.net/images/purple-th.jpg" NOSAVE height=39 width=100></td>

<td><input TYPE="radio" Value="../../images/red.jpg" NAME="BackgroundImage"></td>

<td><img SRC="http://www.surflocal.net/images/red-th.jpg" NOSAVE height=39 width=100></td>
</tr>

<tr>
<td WIDTH="6%"><input TYPE="radio" Value="../../images/rust.jpg" NAME="BackgroundImage"></td>

<td VALIGN=TOP WIDTH="94%"><img SRC="http://www.surflocal.net/images/rust-th.jpg" NOSAVE height=39 width=100></td>

<td><input TYPE="radio" Value="../../images/salmon.jpg" NAME="BackgroundImage"></td>

<td><img SRC="http://www.surflocal.net/images/salmon-th.jpg" NOSAVE height=39 width=100></td>
</tr>

<tr>
<td WIDTH="6%"><input TYPE="radio" Value="../../images/steel.jpg" NAME="BackgroundImage"></td>

<td VALIGN=TOP WIDTH="94%"><img SRC="http://www.surflocal.net/images/steel-th.jpg" NOSAVE height=39 width=100></td>

<td><input TYPE="radio" Value="../../images/teal.jpg" NAME="BackgroundImage"></td>

<td><img SRC="http://www.surflocal.net/images/teal-th.jpg" NOSAVE height=39 width=100></td>
</tr>
</table></center>
</td>
</tr>
</table></center>

<center><table BORDER=1 COLS=2 WIDTH="90%" BGCOLOR="#FFFFFF" BACKGROUND="http://www.surflocal.net/images/white_table.jpg"  >

<p><br><center><font color="000000"><b>You may click on any sample background image in this section to see a full view</b></font></font></center>

<tr>
<td VALIGN=TOP>
<center><table BORDER=1 COLS=4 WIDTH="90%" >
<tr>
<td WIDTH="6%"><input TYPE="radio" Value="../../images/4.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/4.jpg"><img SRC="http://www.surflocal.net/images/4_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>

<td WIDTH="6%"><input TYPE="radio" Value="../../images/2.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/2.jpg"><img SRC="http://www.surflocal.net/images/2_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>
</tr>

<tr>
<td><input TYPE="radio" Value="../../images/3.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/3.jpg"><img SRC="http://www.surflocal.net/images/3_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>

<td><input TYPE="radio" Value="../../images/lay1-4.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/lay1-4.jpg"><img SRC="http://www.surflocal.net/images/lay1-4th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>
</tr>

<tr>
<td><input TYPE="radio" Value="../../images/lay1-8.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/lay1-8.jpg"><img SRC="http://www.surflocal.net/images/lay1-8th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>

<td><input TYPE="radio" Value="../../images/5.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/5.jpg"><img SRC="http://www.surflocal.net/images/5_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>
</tr>

<tr>
<td><input TYPE="radio" Value="../../images/6.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/6.jpg"><img SRC="http://www.surflocal.net/images/6_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>

<td><input TYPE="radio" Value="../../images/7.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/7.jpg"><img SRC="http://www.surflocal.net/images/7_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>
</tr>

<tr>
<td><input TYPE="radio" Value="../../images/8.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/8.jpg"><img SRC="http://www.surflocal.net/images/8_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>

<td><input TYPE="radio" Value="../../images/9.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/9.jpg"><img SRC="http://www.surflocal.net/images/9_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>
</tr>

<tr>
<td><input TYPE="radio" Value="../../images/13.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/13.jpg"><img SRC="http://www.surflocal.net/images/13_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>

<td><input TYPE="radio" Value="../../images/14.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/14.jpg"><img SRC="http://www.surflocal.net/images/14_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>
</tr>

<tr>
<td><input TYPE="radio" Value="../../images/15.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/15.jpg"><img SRC="http://www.surflocal.net/images/15_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>

<td><input TYPE="radio" Value="../../images/16.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/16.jpg"><img SRC="http://www.surflocal.net/images/16_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>
</tr>

<tr>
<td><input TYPE="radio" Value="../../images/17.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/17.jpg"><img SRC="http://www.surflocal.net/images/17_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>

<td><input TYPE="radio" Value="../../images/18.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/18.jpg"><img SRC="http://www.surflocal.net/images/18_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>
</tr>
</table></center>
</td>

<td VALIGN=TOP>
<center><table BORDER=1 COLS=4 WIDTH="90%" >
<tr>
<td WIDTH="6%"><input TYPE="radio" Value="../../images/1.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/1.jpg"><img SRC="http://www.surflocal.net/images/1_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>

<td WIDTH="6%"><input TYPE="radio" Value="../../images/11.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/11.jpg"><img SRC="http://www.surflocal.net/images/11_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>
</tr>

<tr>
<td><input TYPE="radio" Value="../../images/25.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/25.jpg"><img SRC="http://www.surflocal.net/images/25_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>

<td><input TYPE="radio" Value="../../images/12.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/12.jpg"><img SRC="http://www.surflocal.net/images/12_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>
</tr>

<tr>
<td><input TYPE="radio" Value="../../images/26.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/26.jpg"><img SRC="http://www.surflocal.net/images/26_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>

<td><input TYPE="radio" Value="../../images/lay1-10.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/lay1-10.jpg"><img SRC="http://www.surflocal.net/images/lay1-10th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>
</tr>

<tr>
<td><input TYPE="radio" Value="../../images/23.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/23.jpg"><img SRC="http://www.surflocal.net/images/23_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>

<td><input TYPE="radio" Value="../../images/lay1-5.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/lay1-5.jpg"><img SRC="http://www.surflocal.net/images/lay1-5th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>
</tr>

<tr>
<td><input TYPE="radio" Value="../../images/22.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/22.jpg"><img SRC="http://www.surflocal.net/images/22_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>

<td><input TYPE="radio" Value="../../images/24.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/24.jpg"><img SRC="http://www.surflocal.net/images/24_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>
</tr>

<tr>
<td><input TYPE="radio" Value="../../images/lay2-31.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/lay2-31.jpg"><img SRC="http://www.surflocal.net/images/lay2-31th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>

<td><input TYPE="radio" Value="../../images/27.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/27.jpg"><img SRC="http://www.surflocal.net/images/27_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>
</tr>

<tr>
<td><input TYPE="radio" Value="../../images/lay2-33.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/lay2-33.jpg"><img SRC="http://www.surflocal.net/images/lay2-33th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>

<td><input TYPE="radio" Value="../../images/19.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/19.jpg"><img SRC="http://www.surflocal.net/images/19_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>
</tr>

<tr>
<td><input TYPE="radio" Value="../../images/21.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/21.jpg"><img SRC="http://www.surflocal.net/images/21_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>

<td><input TYPE="radio" Value="../../images/20.jpg" NAME="BackgroundImage"></td>

<td><a href="http://www.surflocal.net/images/20.jpg"><img SRC="http://www.surflocal.net/images/20_th.jpg" NOSAVE BORDER=0 height=39 width=100></a></td>
</tr>
</table></center>
</td>
</tr>
</table></center>
<!--End Background image stuff--></font>
<center>
<p><a NAME="step2"></a><!-- begin choosing font --></center>

<center><table BORDER COLS=4 WIDTH="80%" BGCOLOR="#FFFFFF" BACKGROUND="http://www.surflocal.net/images/white_table.jpg" >
<caption></font>&nbsp;
<br><font size=+2>Choose Your Text Style.</font></font>
<br><font size=-1>Examples of available text styles
are beside the&nbsp; names.&nbsp; Each of these styles&nbsp; are standard
with most operating systems.&nbsp;&nbsp; If you cannot see one of our styles,
you probably don't have it installed on your computer.&nbsp;</font></font></caption>

<tr>
<td>
<center><input TYPE="radio" VALUE="Arial,Helvetica" Name="font">
<br><font face="Arial,Helvetica"><font size=+1>Arial</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="MS Serif" Name="font">
<br><font face="MS Serif"><font size=+1>MS Serif</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Arial Narrow" Name="font">
<br><font face="Arial Narrow"><font size=+1>Arial Narrow</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Book Antiqua" Name="font">
<br><font face="Book Antiqua"><font size=+1>Book Antiqua</font></font></center>
</td>
</tr>

<tr>
<td>
<center><input TYPE="radio" VALUE="font face=Westminster" Name="font">
<br><font face="Westminster"><font size=+1>Westminster</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Trebuchet MS" Name="font">
<br><b><font face="Trebuchet MS Bold"><font size=+1>Trebuchet MS Bold</font></font></b></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Comic Sans MS" Name="font">
<br><font face="Comic Sans MS"><font size=+1>Comic Sans</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Lucida Console" Name="font">
<br><font face="Lucida Console"><font size=+1>Lucida Console</font></font></center>
</td>
</tr>

<tr>
<td>
<center><input TYPE="radio" VALUE="Courier New, Courier" Name="font">
<br><font face="Courier New,Courier"><font size=+1>Courier New</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Century Gothic" Name="font">
<br><font face="Century Gothic"><font size=+1>Century Gothic</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Georgia" Name="font">
<br><font face="Georgia"><font size=+1>Georgia</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Estrangelo Edessa" Name="font">
<br><font face="Estrangelo Edessa"><font size=+1>Estrangelo Edessa</font></font></center>
</td>
</tr>

<tr>
<td>
<center><input TYPE="radio" VALUE="Aldine721 BT" Name="font">
<br><font face="Aldine721 BT"><font size=+1>Aldine</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Impact" Name="font">
<br><font face="Impact"><font size=+1>Impact</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Times New Roman" Name="font">
<br><font face="Times New Roman"><font size=+1>Times New Roman</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Tahoma" Name="font">
<br><font face="Tahoma"><font size=+1>Tahoma</font></font></center>
</td>
</tr>

<tr>
<td>
<center><input TYPE="radio" VALUE="Tempus Sans ITC" Name="font">
<br><b><font face="Tempus Sans ITC"><font size=+1>Tempus Sans ITC</font></font></b></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Veranda Italic" Name="font">
<br><font face="Verdana Italic"><font size=+1>Veranda</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Copperplate Gothic Bold" Name="font">
<br><font face="Copperplate Gothic Bold"><font size=+1>Copperplate Gothic</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Palatino Linotype" Name="font">
<br><font face="Palatino Linotype"><font size=+1>Palatino Linotype</font></font></center>
</td>
</tr>



</table></center>

<center><!-- Choose text color --></center>
<center><table BORDER WIDTH="84%" class="table" >
<caption>&nbsp;
<br><font color=000000><font size=+2>Choose the Text Color</font></font>

<br><font color=000000><font size=-1>REMEMBER:&nbsp; Choose a text color
that coordinates with the background you chose above.</font></font>
<br>&nbsp;

<center><table BORDER COLS=12 WIDTH="80%" BGCOLOR="#FFFFFF" BACKGROUND="http://www.surflocal.net/images/white_table.jpg">

<tr>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#404040"></td>
<td BGCOLOR="#404040">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#4C4E5D"></td>
<td BGCOLOR="#4C4E5D">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#62453D"></td>
<td BGCOLOR="#62453D">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#330000"></td>
<td BGCOLOR="#330000">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#834840"></td>
<td BGCOLOR="#834840">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#684E51"></td>
<td BGCOLOR="#684E51">&nbsp;</td>


</tr>


<tr>


<td WIDTH="1%"><input type="radio" name="FontColor" value="#0E7A96"></td>
<td BGCOLOR="#0E7A96">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#145B6F"></td>
<td BGCOLOR="#145B6F">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#004593"></td>
<td BGCOLOR="#004593">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#135D8A"></td>
<td BGCOLOR="#135D8A">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#000080"></td>
<td BGCOLOR="#000080">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#06085A"></td>
<td BGCOLOR="#06085A">&nbsp;</td>
</tr>

<tr>


<td WIDTH="1%"><input type="radio" name="FontColor" value="#9D324C"></td>
<td BGCOLOR="#9D324C">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#742638"></td>
<td BGCOLOR="#742638">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#9A0000"></td>
<td BGCOLOR="#9A0000">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#6D0B0B"></td>
<td BGCOLOR="#6D0B0B">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#800080"></td>
<td BGCOLOR="#800080">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#400040"></td>
<td BGCOLOR="#400040">&nbsp;</td>

</tr>

<tr>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#607458"></td>
<td BGCOLOR="#607458">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#006666"></td>
<td BGCOLOR="#006666">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#004000"></td>
<td BGCOLOR="#004000">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#0E3F39"></td>
<td BGCOLOR="#0E3F39">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#000000"></td>
<td BGCOLOR="#000000">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="FontColor" value="#ffffff"></td>
<td BGCOLOR="#ffffff">&nbsp;</td>


</tr>
</table></center>
</font>
<center>
<p><input TYPE="submit" VALUE="Begin editing page" style="background-color: rgb(0,0,0); color: rgb(255,255,192); font-weight: bold; border-left: 1px solid rgb(255,255,192); border-right: 1px double rgb(153,153,153); border-top: 1px solid rgb(255,255,255); border-bottom: 1px double rgb(153,153,153)"><input TYPE="submit" VALUE="Clear this form and start over" style="background-color: rgb(0,0,0); color: rgb(255,255,192); font-weight: bold; border-left: 1px solid rgb(255,255,255); border-right: 1px double rgb(153,153,153); border-top: 1px solid rgb(255,255,255); border-bottom: 1px double rgb(153,153,153)">
<br></form></center>

</body>
</html>
