


<link href="/stylee.css" rel="stylesheet" type="text/css" />
<center>
<center><table BORDER=0 CELLSPACING=3 CELLPADDING=0 WIDTH=735>
<tr><td>
<form action="Text.cgi" method="post"><input type=hidden name=action value=PreviewTextAd>

<center><img src="/sm_banner_MKTG.jpg">

<center><table BORDER COLS=4 WIDTH="735" BGCOLOR="#FFFFFF" BACKGROUND="https://www.surflocal.net/images/white_table.jpg">
<caption>&nbsp;
<br><font color=000000><font size=+1><b>Choose Your Text Style</b></font></font>
</caption>
<tr>
<td>
<center><input TYPE="radio" VALUE="Aldine721 BT" Name="font">
<br><font face="Aldine721 BT"><font size=+1>Aldine</font></font></center>
</td>


<td>
<center><input TYPE="radio" VALUE="Arial" Name="font">
<br><font face="Arial"><font size=+1>Arial</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Arial Black" Name="font">
<br><font face="Arial Black"><font size=+1>Arial Black</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Arial Narrow" Name="font">
<br><font face="Arial Narrow"><font size=+1>Arial Narrow</font></font></center>
</td>

<tr>
<td>
<center><input TYPE="radio" VALUE="Book Antiqua" Name="font">
<br><font face="Book Antiqua"><font size=+1>Book Antiqua</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Century Gothic" Name="font">
<br><font face="Century Gothic"><font size=+1>Century Gothic</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Comic Sans MS" Name="font">
<br><font face="Comic Sans MS"><font size=+1>Comic Sans</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Constantia" Name="font">
<br><font face="Constantia"><font size=+1>Constantia</font></font></center>
</td>

<tr>
<td>
<center><input TYPE="radio" VALUE="Constantia Bold" Name="font">
<br><font face="Constantia Bold"><font size=+1>Constantia Bold</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Copperplate Gothic Bold" Name="font">
<br><font face="Copperplate Gothic Bold"><font size=+1>Copperplate Gothic</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Courier New, Courier" Name="font">
<br><font face="Courier New,Courier"><font size=+1>Courier New</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Courier New Bold, Courier Bold" Name="font">
<br><font face="Courier New Bold, Courier Bold"><font size=+1>Courier Bold</font></font></center>
</td>

<tr>
<td>
<center><input TYPE="radio" VALUE="Estrangelo Edessa" Name="font">
<br><font face="Estrangelo Edessa"><font size=+1>Estrangelo Edessa</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Georgia" Name="font">
<br><font face="Georgia"><font size=+1>Georgia</font></font></center>
</td>


<td>
<center><input TYPE="radio" VALUE="Impact" Name="font">
<br><font face="Impact"><font size=+1>Impact</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Lithos Pro" Name="font">
<br><font face="Lithos Pro"><font size=+1>Lithos Pro</font></font></center>
</td>

<tr>
<td>
<center><input TYPE="radio" VALUE="Lithos Pro Bold" Name="font">
<br><font face="Lithos Pro Bold"><font size=+1>Lithos Pro Bold</font></font></center>
</td>


<td>
<center><input TYPE="radio" VALUE="Lucida Console" Name="font">
<br><font face="Lucida Console"><font size=+1>Lucida Console</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Lucida Handwriting" Name="font">
<br><font face="Lucida Handwriting"><font size=+1>Lucida Handwriting</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Park Avenue BT" Name="font">
<br><font face="Park Avenue BT"><font size=+1>Park Avenue BT</font></font></center>
</td>

<tr>
<td>
<center><input TYPE="radio" VALUE="Palatino Linotype" Name="font">
<br><font face="Palatino Linotype"><font size=+1>Palatino Linotype</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Palatino Linotype Bold" Name="font">
<br><font face="Palatino Linotype Bold"><font size=+1>Palatino Linotype Bold</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Tahoma" Name="font">
<br><font face="Tahoma"><font size=+1>Tahoma</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Tempus Sans ITC" Name="font">
<br><b><font face="Tempus Sans ITC"><font size=+1>Tempus Sans ITC</font></font></b></center>
</td>

<tr>
<td>
<center><input TYPE="radio" VALUE="Tempus Sans ITC Bold" Name="font">
<br><b><font face="Tempus Sans ITC Bold"><font size=+1>Tempus Sans ITC Bold</font></font></b></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Times New Roman" Name="font">
<br><font face="Times New Roman"><font size=+1>Times New Roman</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Times New Roman Bold" Name="font">
<br><font face="Times New Roman Bold"><font size=+1>Times New Roman Bold</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="Trebuchet MS" Name="font">
<br><b><font face="Trebuchet MS Bold"><font size=+1>Trebuchet MS Bold</font></font></b></center>
</td>

<tr>
<td>
<center><input TYPE="radio" VALUE="Veranda" Name="font">
<br><font face="Verdana"><font size=+1>Veranda</font></font></center>
</td>


<td>
<center><input TYPE="radio" VALUE="Segoe Script" Name="font">
<br><b><font face="Segoe Script"><font size=+1>Segoe Script</font></font></b></center>
</td>

<td>
<center><input TYPE="radio" VALUE="font face=Westminster" Name="font">
<br><font face="Westminster"><font size=+1>Westminster</font></font></center>
</td>

<td>
<center><input TYPE="radio" VALUE="font face=Webdings" Name="font">
<br><font face="Webdings"><font size=+1>Webdings</font></font></center>
</td>

</tr>
</table></center>
</font>



<center>
<p><b><font color="#000000"><font size=+1>Choose a Text Color:</font></font></font></b></center>

<center><table BORDER COLS=12 WIDTH="735" BGCOLOR="#FFFFFF" BACKGROUND="https://www.surflocal.net/images/white_table.jpg">

<tr>

<td WIDTH="1%"><input type="radio" name="fontColor" value="#404040"></td>
<td BGCOLOR="#404040">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="fontColor" value="#4C4E5D"></td>
<td BGCOLOR="#4C4E5D">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="fontColor" value="#62453D"></td>
<td BGCOLOR="#62453D">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="fontColor" value="#330000"></td>
<td BGCOLOR="#330000">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="fontColor" value="#834840"></td>
<td BGCOLOR="#834840">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="fontColor" value="#684E51"></td>
<td BGCOLOR="#684E51">&nbsp;</td>


</tr>


<tr>


<td WIDTH="1%"><input type="radio" name="fontColor" value="#0E7A96"></td>
<td BGCOLOR="#0E7A96">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="fontColor" value="#145B6F"></td>
<td BGCOLOR="#145B6F">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="fontColor" value="#004593"></td>
<td BGCOLOR="#004593">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="fontColor" value="#135D8A"></td>
<td BGCOLOR="#135D8A">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="fontColor" value="#000080"></td>
<td BGCOLOR="#000080">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="fontColor" value="#06085A"></td>
<td BGCOLOR="#06085A">&nbsp;</td>
</tr>

<tr>


<td WIDTH="1%"><input type="radio" name="fontColor" value="#9D324C"></td>
<td BGCOLOR="#9D324C">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="fontColor" value="#742638"></td>
<td BGCOLOR="#742638">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="fontColor" value="#9A0000"></td>
<td BGCOLOR="#9A0000">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="fontColor" value="#6D0B0B"></td>
<td BGCOLOR="#6D0B0B">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="fontColor" value="#800080"></td>
<td BGCOLOR="#800080">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="fontColor" value="#400040"></td>
<td BGCOLOR="#400040">&nbsp;</td>

</tr>

<tr>

<td WIDTH="1%"><input type="radio" name="fontColor" value="#607458"></td>
<td BGCOLOR="#607458">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="fontColor" value="#006666"></td>
<td BGCOLOR="#006666">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="fontColor" value="#004000"></td>
<td BGCOLOR="#004000">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="fontColor" value="#0E3F39"></td>
<td BGCOLOR="#0E3F39">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="fontColor" value="#000000"></td>
<td BGCOLOR="#000000">&nbsp;</td>

<td WIDTH="1%"><input type="radio" name="fontColor" value="#ffffff"></td>
<td BGCOLOR="#ffffff">&nbsp;</td>


</tr>
</table>
</center></center></center></center></center></center>
<p><input type="submit" value="Go on to next step">
<p><input type="reset" value="Reset"></form></center>


</td>
</tr>
</table>
</body>
</html>
