
body {
        font-family: COPPERPLATE GOTHIC BOLD, Arial Black, Helvetica, sans-serif;
	font-size: 35px;
	text-align: center;
	margin: 0px;
	padding: 0px;
        font-color: #000066;
	
        
}

